/** @format */

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
/* Het logo / Avatar van site */
header img {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}
.icon {
  width: 80px;
  height: auto;
}
.avatar {
  width: 400px;
}
/* alles wat gelinkt word aan de body */
body {
  width: 100%;
  height: 100vh;
  background: #d5dde7;
  background: -webkit-linear-gradient(310deg, #d5dde7 0%, #ffffff 100%);
  background: linear-gradient(310deg, #d5dde7 0%, #ffffff 100%);
}
/* Header balk */
header {
  max-width: 100%;
  height: 130px;
  background: #3d6d9d;
  background: -webkit-linear-gradient(270deg, #3d6d9d 0%, #416a94 100%);
  background: linear-gradient(270deg, #bc48ff 0%, #416a94 25%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 135px 20px 16px 0px rgba(0, 0, 0, 0.238);
}

/* Dropdown Button */
.dropbtn {
  background-color: #0c395770;
  color: white;
  height: 50px;
  width: 100px;
  font-size: 20px;
  font-family: "Lily Script One", cursive;
  border: none;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-right: 40px;
}

/* Dropdown button op hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

/* De container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
  opacity: 0;
  scale: 0;
  position: absolute;
  background-color: #f1f1f1;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 20px;
  transition: opacity 1s;
}

/* Links in de dropdown */
.dropdown-content a {
  color: black;
  text-align: center;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}

/* Change color van dropdown links op hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: rgba(0, 0, 0, 0.768);
}

/* Javascript functie */
.show {
  opacity: 1 !important;
  scale: 1;
  transition: opacity 1s;
}
/* Text in menu */
a:hover {
  color: rgba(181, 219, 214, 0.681);
  scale: 0.95;
}
a:active {
  color: rgba(181, 219, 214, 0.548);
}
/* De plaats waar de library blokken zich bevinden */
.mainFrame {
  display: flex;
  height: 100% !important;
}

.mainFlex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100% !important;
}

/* De settings voor de blokken gebruikt in de library zelf */
.blokken {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-top: 50px;
}

.blok {
  width: 250px;
  height: 200px;

  border-radius: 10px;
  box-shadow: 0px 10px 16px 0px rgb(0, 0, 0);
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

/* Het custom blok voor de Library main page */
.blokkenLibPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  margin: auto;
}
.blokLibPage {
  width: 350px;
  height: 200px;

  border-radius: 10px;
  box-shadow: 0px 10px 16px 0px rgb(0, 0, 0);
  justify-content: space-around;
  display: flex;
  margin-right: 75px;
}
/* Text opmaak */

h1,
h2,
h3,
h4 {
  font-size: 40px !important;
  font-family: "Lily Script One", cursive;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h1 {
  color: rgb(18, 177, 191);
  font-style: normal;
}

h2 {
  color: rgb(218, 97, 16);
  font-style: normal;
}

h3 {
  color: rgb(132, 215, 31);
  font-style: oblique;
}
h4 {
  color: rgb(255, 7, 7);
  font-style: oblique;
}
h5 {
  font-size: 60px !important;
  font-family: "Lily Script One", cursive;
  color: rgb(18, 177, 191);
  font-style: normal;
  text-align: center;
}
table,
th,
td {
  border: 1px solid;
  font-family: "Lily Script One", cursive;
  background-color: #0000004a;
}
/* Focust desbetreffende knoppen met functie */
.blok button {
  background-color: #6a6a6a;
  margin: auto;
  font: italic;
  border: 4px solid rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 16px 1px rgb(0, 0, 0);
}
.blok button:hover {
  background-color: #85afd8ce;
}
.blok button:active {
  background-color: #85afd88f;
}
/* focust alle images in de blokken */
.blokken img {
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 10px 16px 0px rgb(0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0.25);
}

/* Geeft de text positie */
.posText {
  position: relative;
}
/* Centreerd de text  */
.centerText {
  top: 50%;
  left: 50%;
  font-size: 18px;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #841919;
  font-size: large;
  font-style: oblique;
}

.blok input {
  color: #000000;
  width: fit-content;
  margin: auto;
  box-shadow: 0px 10px 16px 0px rgb(0, 0, 0);
  border: 4px solid rgba(0, 0, 0, 0.25);
}
.blok #input1 {
  background-color: rgb(18, 177, 191);
}
.blok #input2 {
  background-color: rgb(218, 97, 16);
}
.blok #input3 {
  background-color: rgb(132, 215, 31);
}
.blok #input4 {
  background-color: rgb(255, 7, 7);
}
/* De footer balk die onder aan de pagina hangt */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #bc48ff;
  background: -webkit-linear-gradient(90deg, #bc48ff 10%, #416a94 100%);
  background: linear-gradient(90deg, #bc48ff 10%, #416a94 100%);
  color: rgb(252, 252, 252);
  text-align: center;
  height: 30px;
  z-index: 3;
}
